$very-small: 'screen and (max-width: 320px)';
$small: 'screen and (max-width: 640px)';
$medium-up: 'screen and (max-width: 1024px)';
// $medium-up: 'screen and (max-width: )';
// $large: 'screen and (max-width: )';
// $very-large: 'screen and (max-width:)';

@media #{$small} {

   //BACKGROUND POSITION
   .bg__desktop {
      display: none;
   }

   .bg__mobile {
      display: block !important;

      width: 100vw;
      min-height: 750px;

      img {
         position: absolute;
         width: 100%;
         height: 100%;
      }
   }

   .bg__footer {
      position: absolute;
      bottom: 0;
      width: 100vw;
      height: 840px !important;
   }

   //HEADER
   header .logo {
      width: 105px !important;
   }

   header a {
      font-size: 0.9rem !important;
      padding: 0.7rem 1.9rem !important;
   }

   //ABOUT CONTAINER
   .about__container {
      margin-top: 8vh !important;
      flex-direction: column;
   }

   .about__container .about__text {
      text-align: center;
      margin-bottom: 7vh !important;
      width: 85% !important;
   }

   .about__container .about__text h1 {
      font-size: 1.39rem !important;
   }

   .about__container .about__text p {
      margin-bottom: 6vh !important;
      font-size: 1rem !important;
   }

   .about__container .about__text a {
      padding: 1rem 2rem !important;
   }

   .about__container .about__img {
      width: 90% !important;
   }

   //WORK CONTAINER
   .work__container {
      margin-top: 20vh !important;
   }

   .work__container .grow__container,
   .users__container {
      text-align: center;
      flex-direction: column-reverse !important;
      padding: 2rem !important;
      margin-bottom: 5vh;

      img {
         width: 80% !important;
      }
   }

   .flowing__container {
      text-align: center;
      flex-direction: column !important;
      padding: 2rem !important;
      margin-bottom: 5vh;

      img {
         width: 100% !important;
      }
   }

   .grow__text,
   .flowing__text,
   .users__text {
      h3 {
         margin-top: 3vh !important;
         margin-bottom: 3vh !important;
         font-size: 1.8rem !important;
      }

      p {
         font-size: 1rem !important;
      }

      width: 90% !important;
   }

   //COMMUNITY CONTAINER
   .community__container {
      margin-top: 90px !important;
      width: 100% !important;
      padding: 2rem 0.5rem !important;
   }

   .community__container h2 {
      font-size: 1.1rem !important;
      margin-bottom: 30px !important;
   }

   .community__container a {
      font-size: 1rem !important;
      padding: 1rem 2rem !important;
   }

   //FOOTER 
   .footer__container {
      margin-top: 8vh !important;
   }

   .footer__container .footer__logo {
      width: 200px !important;
      margin-bottom: 5vh;
   }

   .contact__container {
      flex-direction: column !important;
   }

   .contact__container .contact__adress {
      width: 100% !important;
   }

   .contact__container .contact__social {
      align-items: center;
      justify-content: center;
   }

   .contact__container .contact__social p {
      margin-top: 4vh;
      margin-bottom: 4vh;
      font-size: 0.9rem !important;
   }
}

@media #{$medium-up} {

   //BACKGROUND POSITION
   .bg__desktop {
      width: 100vw;
      min-height: 700px !important;
   }

   .bg__footer {
      height: 600px !important;
   }

   //HEADER
   .header {
      * {
         transform: scale(0.9);
      }

   }

   //ABOUT CONTAINER
   .about__container {
      .about__text h1 {
         font-size: 2rem !important;
      }

      .about__text p {
         font-size: 1.2rem !important;
      }

      .about__text a {
         padding: 1.1rem 4.5rem !important;
      }

      .about__img {
         width: 50%;
      }
   }

   //WORK CONTAINER
   .work__container {
      margin-top: 250px !important;

      h3 {
         font-size: 1.7rem !important;
      }

      p {
         font-size: 1.1rem !important;
      }
   }

   .grow__container,
   .flowing__container,
   .users__container {
      margin-bottom: 50px;
   }

   .grow__text,
   .flowing__text,
   .users__text {
      width: 50% !important;
   }

   //COMMUNITY CONTAINER
   .community__container {
      margin-top: 150px !important;
      width: 85% !important;

      h2 {
         font-size: 2rem !important;
         margin-bottom: 50px !important;
      }
   }

   //FOOTER CONTAINER
   .footer__container {
      margin-top: 5vh;
      margin-bottom: 6vh;
      display: flex;
      flex-direction: column;
      width: 95%;
      color: $white;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;

      .footer__logo {
         width: 20%;
         margin-bottom: 5vh;
      }
   }

   .contact__container {
      display: flex;
      justify-content: space-between;

      .contact__adress {
         width: 40% !important;
      }

      .contact__about {
         margin-right: 10px;
      }

      .contact__career {
         margin-right: 10px;
      }

      .contact__social p {
         font-size: 0.9rem;
      }
   }
}