//VARIABLES COLORS
$pink: hsl(322, 100%, 66%);
$pink-hover: hsl(323, 90%, 88%);
$white: hsl(0, 0%, 100%);
$very-pale-cyan: hsl(193, 100%, 96%);
$very-dark-cyan: hsl(192, 100%, 9%);
$grayish-blue: hsl(208, 11%, 55%);